<%= form_for @user, url:'/login' do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <h1> User Name </h1>
    
    <br>
    <br>
    Name
    <br>

    <%= f.text_field :name %>

    <br>
    
    <br>
    Password
    <br>

    <%= f.password_field :password %>

    <br>
        <br>
    
    <%= f.submit %>

<% end %>
